@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bahiana&family=Dongle&family=Playwrite+DE+Grund:wght@100..400&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #fbf8ee;
}

html {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.cabecalho-imagem {
    display: block;
    margin: auto;
    justify-content: center;
}

.divisoria {
  border-top: 10px double #f7bf18;
  margin: 30px 40px;
  border-radius: 60px;
}

.cabecalho-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: left;
    gap: 5px;
    position: fixed;
  bottom: 0;
  right: 0;
  top: 250px;
  width: 40px;
}

.cabecalho-menu-item {
    position: relative;
    display: inline-flex;
}

.cabecalho-menu-item:hover{
    transform: translate(-5px, -5px);
    transition-delay: 200ms;
}

.cabecalho-menu-item-hidding {
    display: none;
    position:fixed;
    min-width: 110px;
    min-height: 23px;
    background-color: #f7bf1854;
    width: 150px;
    height: 50px;
   padding: 0.3rem;
    border-radius: 50px;
        font-family: "Quicksand", sans-serif;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
         text-align: center;
        transition-timing-function: ease-in 20s;
}

.cabecalho-menu-item:hover .cabecalho-menu-item-hidding {
    display:block;
    opacity: 2;
    block-size: auto;
    position: absolute;
    justify-content:center;
    bottom: 15px;
    right: 39px; 
    transition: 1s ease;

}

main {
   margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    text-align: left;
}

.cardapio {
    zoom: 0.9;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.titulo {
    font-family: "Bahiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    writing-mode: vertical-lr;
    letter-spacing: 1em;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center; 
    background-color: black;
    display: flex;
    text-align: center;
}

.box {
    padding: 20px;
  margin: 10px 10px;
  display: inline;
  width: 600px;
}
.fotoprato {
    float: left;
    width: 250px;
    border-radius: 2px;
    padding: 0.2em;
}

.prato {
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
    color: #f7bf18;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.pratos {
  font-family: "Bahiana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
    color: #f7bf18;
    padding: 0.4rem;
    display: flex;
}

.descricao {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vai {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    display: flex;
    text-align: left;
    text-wrap: wrap;
    flex-direction: row;
}

.sabor {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 0.2rem;
    display: flex;
}

footer {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #fbf8ee;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 1500px;
height: 100px;
border-radius: 1px;
background-color: black;
padding: 1em;
margin: auto;
line-height: 30px;
margin-bottom: 5px;
}

.sb {
    font-family: "Bahiana", sans-serif;
    color: #f7bf18;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
}